---
import MainHead from "../components/MainHead.astro"
import Footer from "../components/Footer.astro"
import Nav from "../components/Nav.astro"
---

<html lang="en">
  <head>
    <MainHead title="About | AtomicFeasT" description="About Atomic" />
    <style>
      .heroImg {
        max-height: 24rem;
        object-fit: cover;
        overflow: hidden;
      }

      .heroImg img {
        width: 100%;
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        margin-top: 4em;
      }

      .wrapper.bio {
        max-width: 50em;
      }
    </style>
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <h1>About Atomic</h1>
      <div class="heroImg">
        <img
          width="1400"
          height="350"
          src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
        />
      </div>
      <div class="bio wrapper">
        <p>
          "São os nossos inimigos que nos oferecem desafios, não nós mesmos,
          devemos então, desenvolver as qualidades da tolerância, paciência e
          compaixão."
        </p>
        <p>
          "Pense nas atitudes antes de tomá-las. Pedir perdão é honrável, mas
          evitar machucar quem dá valor é ainda melhor." "Você não tem que
          perder para dar valor, tem que dar valor para não perder."
        </p>
        <p>
          "Quando se mata uma barata, é um herói. Quando se mata uma borboleta,
          é um vilão. A moral tem critério estético."
        </p>
        <p>
          "Maior do que a tristeza de não ter vencido é a vergonha de não ter
          lutado."
        </p>
        <p>"O mal só prevalece quando os bons ficam calados."</p>
      </div>
    </div>
    <Footer />
  </body>
</html>
